<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SVG experiment</title>
    
    <!-- ========================== STYLESHEETS =========================== -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- =========================== JAVASCRIPT =========================== -->
    <!-- third party -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    
    <!-- modules -->
    <script src="modules/app.js"></script>
    
    
</head>

<body ng-app="svgApp" ng-controller="svgController">
 
    <svg class="chart--content" ng-attr-width="{{width}}" ng-attr-height="{{height}}" xmlns="http://www.w3.org/2000/svg">

        <!-- axis -->
        <g class="chart--x-grid">
            <line x1="0" y1="0" x2="0" y2="400"></line>
        </g>
        <g class="chart--y-grid">
            <line x1="0" y1="400" x2="600" y2="400"></line>
        </g>
        
        <!-- axis labels -->
        <g class="labels x-labels">
            <text ng-repeat="x in xAxisLabels track by $index" ng-attr-x="{{ x[0] }}" y="415">{{ x[1] }}</text>
        </g>
        
        <g class="labels y-labels">
            <text ng-repeat="y in yAxisLabels track by $index" x="-5" ng-attr-y="{{ y[0] + 5 }}">{{ y[1] | currency }}</text>
        </g>
        
        <path class="chart--line" ng-attr-d="{{ linePath(points) }}"></path>
    </svg>

</body>

</html>